div.photo-top , div.photo-bottom {
    /* justify-content: center; */
    margin-left:5%
}


/* div.photo-top img:last-child , div.photo-bottom img:last-child {
    display: flex;
    margin: auto;
} */

div.div-titre {
    width: 100%;
}

.titre {
    color: black;
    font-family: DIN Condensed;
    font-weight: 700;
    font-size:92px;
    line-height: 120px;
    text-align: center;
    text-transform: uppercase;
}


.titre:hover {
    color: #A00CB8;
}

.gif {
    position: absolute;
    margin-left: 228px;
    margin-top: 86px;
    border-radius: 20px;
    border: solid 1px black;
}

.gaf {
    position: absolute;
    margin-inline-start: 903px;
    margin-top: 140px;
    border-radius: 20px;
    border: solid 1px black;
}


@media (max-width: 1024px) {
    div.photo-top, div.photo-bottom {
        display: none;
    }
    .titre {
        font-size:52px;
        line-height: 80px;
    }

}