h3.newsletter {
    font-family: 'DIN Condensed';
    font-weight: bold;
    text-align: center;
    background-color: black;
    width: 100%;

    color: white;
    text-align: center;
    font-size: 100px;
    /* padding: 7% 0; */
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}


.texte {
    color: black;
}

.texte:hover {
    color: #A00CB8;
}


.newsletter:hover {
    color: #A00CB8;
}

footer {
    background: #A00CB8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    padding-bottom: 100px;
    grid-template-rows: repeat(3, 0.2fr);
    padding-top: 50px;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer h5 {
    margin-bottom: 20%;
    padding-left: 5%;
    grid-row-start: 1;
    grid-row-end: 2;
    text-transform: uppercase;
}

/* .bottom-foot {
    height: 170px;
} */

footer p {
    padding: 15%;
}

footer p a,
footer h5 {
    color: white;
    font-family: 'DIN';
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}


footer .logo-footer {
    grid-column: 4;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
    padding: 0 10% 10% 0;
}

footer .logo-footer img {
    position: absolute;
    width: 100px;
}

footer .logo2-footer {
    opacity: 0%;
}

footer .logo1-footer {
    opacity: 100%;
}

footer .logo1-footer:hover {
    transition: 300ms;
    opacity: 0%;
}

footer .logo2-footer:hover {
    transition: 300ms;
    opacity: 100%;
}

@media (min-width: 1042px) {
    ul {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media (max-width: 1024px) {

    .newsletter h3 {
        font-size: 50px;
        margin-top: 20px;
        /* text-align: center; */
    }

    .logo-footer.logo1-footer {
        font-size: 10px;
    }

    .logo-footer.logo2-footer {
        font-size: 10px;
    }

    footer p a,
    footer h5 {
        color: white;
        font-family: 'DIN';
        font-size: 15px;
        font-weight: bold;
    }

}

@media (max-width: 768px) {
    .newsletter h3 {
        font-size: 20px;
        margin-top: 20px;
        /* text-align: center; */

    }

    .logo-footer.logo1-footer {
        font-size: 10px;
    }

    .logo-footer.logo2-footer {
        font-size: 10px;
    }

    footer {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-gap: 10%;
        padding-top: 100px;
        padding-bottom: 150px;
    }

    footer .logo-footer {
        width: auto;
        align-items: flex-end;
        padding: 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    footer h5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}