h3.newsletter {
    font-family: 'DIN Condensed';
    font-weight: bold;
    text-align: center;
    background-color: black;
    width: 100%;
    
    color: white;
    text-align: center;
    font-size: 100px;
    /* padding: 7% 0; */
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}


.texte {
    color: black;
}

.texte:hover {
    color: #A00CB8;
}


.newsletter:hover {
    color: #A00CB8;
}
footer{
    background: #A00CB8;
}
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    padding-bottom: 100px;

}

ul {
    list-style: none;
    padding-left: 0;
}

.bottom-foot {
    height: 170px;
}


.floatleft {

    margin-bottom: 15%;
    padding-left: 5%;


}

.floatcenterleft {
    margin-top: 17%;
    margin-bottom: 10%;
    padding-left: 8%;

}

.floatcenterright {
    margin-top: 17%;
    margin-bottom: 10%;
    padding-left: 11%;

}

.floatright {
    margin-top: 17%;
    padding-left: 10%;
    margin-bottom: 14%;

}

.footer p,
.footer h5 {
    color: white;
    font-family: 'DIN';
    font-size: 28px;
    font-weight: bold;
}

.droit {
    font-size: large;
    font-style: italic;
    /* left: 5%; */
    background-color: #A00CB8;
    height: 50px;
    
}


.footer .logo-footer {
    width: 330%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.logo1-footer, .logo2-footer {
    position: absolute;
    width: 100px;
    margin-bottom: 20%;
}

.footer .logo2-footer {
    opacity: 0%;
}

.footer .logo1-footer {
    opacity: 100%;
}

.footer .logo1-footer:hover {
    transition: 300ms;
    opacity: 0%;
}

.footer .logo2-footer:hover {
    transition: 300ms;
    opacity: 100%;
}

@media (max-width: 1024px) {

    .newsletter h3{
        font-size: 50px;
        margin-top: 20px;
        /* text-align: center; */
        
        
    }
    .logo-footer.logo1-footer{
        font-size: 10px;
    }
    .logo-footer.logo2-footer{
        font-size: 10px;
    }
    .droit{
        font-size: 10px;
        width: 150%;
    }

    .footer p,
.footer h5 {
    color: white;
    font-family: 'DIN';
    font-size: 20px;
    font-weight: bold;
}

}
@media (max-width: 768px){
    .newsletter h3{
        font-size: 20px;
        margin-top: 20px;
        /* text-align: center; */
        
        
    }
}