section.histoire div.titre{
    display: flex;
    align-items: center;
    justify-content: left;
}
.titre-histoire{
    color: rgb(160, 12, 184);    
}

.titre-parti{
    display: inline;
    background-color:rgb(160, 12, 184) ;
    color: rgb(253, 253, 253);
    margin-right: 40px;
    margin-left: 80px;
    
}
.titre-bicolor{
    font-size: 80px;
    margin-left: 40px;
    background-repeat: repeat-x;
    display: inline-block;
}
/* .voir-plus{
    font-family:'DIN', sans-serif ;
    background-color: rgb(160, 12, 184) ;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border: none;
} */
.histoire-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
    margin-bottom: 100px;
    
}
.histoire-text{
    padding-top: 120px;
    margin-left: 40px;
    margin-right: 80px;
    font-size: 25px;
    margin-bottom: 50px;
}
.img-hist1{
    margin-right: 40px;
    border-radius: 20px;
    border: solid 1px black;
}

.environnement-contenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.environnement-text{
    padding-top: 40px;
    margin-left: 80px;
    margin-right: 50px;
    font-size: 25px; 
    padding-bottom: 40px;
}
.img-hist2{
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: solid 1px black;
}
section.histoire {
    font-family: 'Maven Pro', sans-serif; 
}



/* @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap') */

@media(max-width: 1024px) {

    .histoire-text{
        /* width: 100%;
        height: 10px; */
        font-size: 20px; 
        /* display: flex; */
        padding-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        text-align: center;
    
    }
    .img-hist1{
        display: max-bloc-size;
        width: 200px;
        height: 200px;
    }
    .environnement-text{
        
        font-size: 18px;
        padding-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 1;
        text-align: center;
    }
    .img-hist2{
        display: max-bloc-size;
        width: 200px;
        height: 200px;
        margin-left: 0;
    margin-bottom: 0;
    }

}
@media (max-width: 768px){
    .histoire-div{
        flex-direction: column-reverse;
        margin-bottom: 30px;
        padding-bottom: 30px;

    }
    .img-hist1{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .environnement-contenu{
        flex-direction: column;
    }
    .img-hist2{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .titre-parti{
        margin-left: auto;
        margin-right: auto;
    }


}

    
